{% load static tailwind_tags %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Start | About</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'style.css' %}">
{% tailwind_css %}
</head>
<body class="bg-orange-200">
    <h1 class = " text-green-200 bg-amber-950 text-center h-[200px]">
        About
    </h1>
</body>
</html>